<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Strona Główna{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/css/bootstrap.css') }}" />
        <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
