{% extends 'base.html.twig' %}
{% block title %}Blog - Admin{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 50px">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary pull-right">Publikuj</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
